body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
img{

  height: 400px;
  width:100%;
}
.three-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2% 10px 0px 10px;
}
h1{
  color:#cf2368;
}

/*h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/
.column {
  margin: 10px 0px;
}

@media (min-width: 565px) {
  .three-column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .column {
    margin: 0px 10px;
    

  }
  .column a{
    color:yellow;
  }
  .column a:link{

    text-decoration: none;
    color:#706a10;
    font-size:18px;

  }
  .column a:hover{

  background-color: black;
  color:white;

  }
}
