<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Donation</title>
</head>
<body>
<form action="/donation" method="POST">
	<input type="text" name="name"><br>
<input type="text" name="mobile"><br>
 <label for="blood-group">Choose a blood group</label>

<select id="blood-group" name="bg">
  <option value="0">--</option>
  <option value="A+">A+</option>
  <option value="A-">A-</option>
  <option value="B+">B+</option>
  <option value="B-">B-</option>
  <option value="O+">O+</option>
  <option value="O-">O-</option>
  <option value="AB+">AB+</option>
  <option value="AB-">AB-</option>
</select> <br>
<input type="submit" value="submit request">
</form>
</body>
</html>